body {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --general-white: rgb(255, 255, 255);
  --light-white: rgba(255, 255, 255, 0.6);
  --main-black: #212121;
  --nav-blue: #2196f3;
  --hero-graphite: #2f303a;
  --graphite: #757575;
  --grey: #f5f4fa;
  --logo: #000000;
  --border: #ececec;
}

.container {
  width: 1200px;
  padding: 94px 15px;
  margin: 0px auto;
}

/* header */
header {
  border-bottom: var(--border) 1px solid;
}
.header {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: auto;
}

.header-contacts {
  margin-left: auto;
  color: var(--graphite);
}

.page-header {
  display: flex;
  justify-content: space-between;
  outline: 1px var(--border);
  min-height: 80px;
}

.logo {
  text-decoration: none;
  color: var(--logo);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  display: inline-flex;
  align-items: center;
  margin-right: 93px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.logo:hover,
.logo:focus,
.footer-logo:hover,
.footer-logo:focus {
  text-decoration: underline;
  text-decoration-color: var(--nav-blue);
}
span {
  color: var(--nav-blue);
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 294px;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: var(--main-black);
  text-decoration: none;
  padding: 32px 0px;
  font-size: 14px;
  display: block;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
}

.current-page .nav-link {
  padding: 32px 0px 28px 0;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--nav-blue);
}
.current-page {
  position: relative;
}

.current-page::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  background-color: var(--nav-blue);
  height: 4px;
  border-radius: 2px;
}

.studio {
  color: var(--general-white);
}

.text {
  width: 646px;
  margin-top: 200px;
  margin-bottom: 30px;
  font-size: 44px;
  display: inline-block;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0.06em;
  text-align: center;
}

.button {
  display: inline-block;
  background-color: var(--nav-blue);
  color: var(--general-white);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  border: none;
  border-radius: 4px;
  height: 50px;
  min-width: 200px;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 0, 06em;
  padding: 10px 32px;
  margin-bottom: 200px;
  font-weight: 700;
  line-height: 30px;
  text-align: center;
}

.spec {
  color: var(--graphite);
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
  display: block;
  margin-bottom: 30px;
  margin-top: 0px;
}

h2 {
  font-size: 36px;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 94px;
  text-align: center;
  font-weight: 700;
  line-height: 42px;
  letter-spacing: 0.03em;
}

h3 {
  display: block;
  font-size: 16px;
  padding-left: 0;
  margin-bottom: 10px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 19px;
  letter-spacing: 0.03em;
  text-align: center;
}

p {
  margin-bottom: 30px;
}

.h2-title {
  margin-top: 0;
}

.adv {
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
  text-transform: uppercase;
}

.descript {
  font-size: 14px;
  color: var(--graphite);
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  max-width: 270px;
  display: inline-block;
  margin: 0px;
}

.projects {
  margin: 0;
  padding: 0px;
  justify-content: space-between;
  display: flex;
}

.team {
  display: flex;
  justify-content: center;
  padding: 0px;
  margin: 0px;
  text-align: center;
  align-items: center;
}

.our-team {
  background-color: var(--grey);
  text-align: center;
  display: block;
  height: 708px;
  padding: 0px;
  margin: auto;
  padding-top: 94px;
  padding-bottom: 94px;
}

.photo {
  margin-left: 15px;
  margin-right: 15px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--general-white);
  height: 428px;
}

/* footer */

.footer-logo {
  text-decoration: none;
  color: var(--logo);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  display: inline-block;
  margin-bottom: 20px;
}

footer {
  background-color: var(--hero-graphite);
  color: var(--general-white);
  display: flex;
}

.footer-container {
  display: flex;
  margin: 0 auto;
  width: 1200px;
  align-items: center;
  padding-top: 55px;
  padding-bottom: 55px;
  justify-content: space-between;
}

.footer-contacts {
  padding: 0px;
  margin: 0px;
  width: 231px;
  max-height: 81px;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
}
.join {
  display: flex;
  flex-direction: column;
  margin-left: 0;
}
.footer-contacts-link {
  color: var(--light-white);
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:focus,
.footer-contacts-link:hover {
  color: var(--nav-blue);
}

.footer p {
  margin: 0;
  padding-bottom: 9px;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.address {
  padding-left: 0;
  margin: 0;
}

/* Homework-5 */
.projects {
  position: relative;
}

.description {
  bottom: 0;
  width: 100%;
  color: var(--general-white);
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.description p {
  margin-top: 0px;
  margin-bottom: 0px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.data-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1.1);
  min-width: 528px;
  min-height: 581px;
  background-color: var(--general-white);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  padding: 0;
  border: none;
  outline: none;
  background-color: var(--general-white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close svg path:hover,
.button-close svg path:focus {
  fill: var(--nav-blue);
  cursor: pointer;
}

/* Homework6 */

/* Modal stiling */
.modal-form .button {
  align-items: center;
  margin-bottom: 40px;
}
.form-list {
  display: block;
  margin: 0 auto;
  padding-left: 40px;
  padding-right: 40px;
}

.modal-form h2 {
  display: block;
  margin-top: 40px;
  margin-bottom: 12px;
  justify-content: center;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
}

input[id='comment'] {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
}

label p {
  margin: 0;
}

.license {
  text-decoration: underline;
}

.form-item {
  margin-bottom: 10px;
}

.form-item {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--graphite);
}

.form-button {
  justify-content: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 40px;
}

.input-wrapper {
  display: block;
  position: relative;
}

.input-wrapper:focus-within > .form-icon {
  fill: var(--nav-blue);
  cursor: pointer;
}

.form-input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  margin: 0px;
  padding-left: 40px;
  font-family: inherit;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus,
.form-input:hover {
  border-color: var(--nav-blue);
  cursor: pointer;
  outline: none;
}

.textarea {
  width: 448px;
  height: 120px;
  padding-top: 12px;
  padding-left: 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.textarea:hover,
.textarea:focus {
  border-color: var(--nav-blue);
  cursor: pointer;
  outline: none;
}

.form-icon {
  width: 18px;
  height: 18px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-icon:focus,
.form-icon:hover {
  fill: var(--nav-blue);
  cursor: pointer;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.checkbox-icon {
  display: inline-block;
  align-items: center;
  width: 16px;
  height: 15px;
  border: 2px solid #212121;
  border-radius: 2px;
  margin-right: 7px;
}

.checkbox:checked + .checkbox-icon {
  background-color: var(--nav-blue);
  background-image: url(../svg/icon-check.svg);
  background-size: contain;
  background-origin: border-box;
  border-color: transparent;
}

.checkbox-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: #757575;
  display: inline-block;
}

.textarea::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-button {
  position: relative;
  display: flex;
  align-items: center;
  text-align: center;
  min-width: 200px;
  height: 50px;
  padding: 10px 55px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  background-color: var(--nav-blue);
  color: var(--general-white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
/* footer-form */

.form-link > label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;
  color: #ffffff;
  margin-top: 0;
}

.form-link {
  width: 570px;
  height: 86px;
  align-items: flex-end;
}

.footer-input {
  width: 358px;
  height: 50px;
  padding-left: 15px;
  border-radius: 4px;
  background-color: var(----hero-graphite);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
}

.input-button {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}

.footer-input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}

.footer-input {
  color: #fff;
}

.sign-button {
  position: relative;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: var(--nav-blue);
  color: var(--general-white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}

.svg-form {
  margin-left: 10px;
}
