body {
  color: #212121;
  font-family: 'Roboto', sans-serif;
  margin: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

:root {
  --general-white: rgb(255, 255, 255);
  --light-white: rgba(255, 255, 255, 0.6);
  --main-black: #212121;
  --nav-blue: #2196f3;
  --hero-graphite: #2f303a;
  --graphite: #757575;
  --grey: #f5f4fa;
  --logo: #000000;
  --border: #ececec;
  --overlay: rgba(33, 150, 243, 0.9);
}

/* header */
header {
  border-bottom: var(--border) 1px solid;
}

.header {
  padding-right: 15px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1170px;
  margin: auto;
}

.page-header {
  display: flex;
  justify-content: space-between;
  min-height: 80px;
  outline: 1px var(--border);
}

.logo {
  text-decoration: none;
  color: var(--logo);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  display: inline-flex;
  align-items: center;
  margin-right: 93px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover,
.logo:focus,
.footer-logo:hover,
.footer-logo:focus {
  text-decoration: underline;
  text-decoration-color: var(--nav-blue);
}

span {
  color: var(--nav-blue);
}

.studio {
  color: var(--general-white);
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 0px;
  width: 294px;
  margin: 0px;
}

.nav-link {
  position: relative;
  color: var(--main-black);
  text-decoration: none;
  font-size: 14px;
  display: block;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  padding: 32px 0px;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--nav-blue);
}
.current-page {
  position: relative;
}

.current-page::after {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  background-color: var(--nav-blue);
  height: 4px;
  border-radius: 2px;
}

.current-page .nav-link {
  padding: 32px 0px 28px 0;
}

.nav-link:hover::after,
.nav-link:focus::after {
  color: var(--nav-blue);
}

.header-contacts {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 350px;
  padding: 0;
  margin: 0;
}
.contacts-link {
  color: var(--graphite);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts-link:hover,
.contacts-link:focus {
  color: var(--nav-blue);
}

.header-contacts svg {
  margin-right: 10px;
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.header-contacts svg:hover,
.header-contacts svg:focus {
  fill: currentColor;
}

.contacts-link-phone {
  color: var(--graphite);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0px;
}
.contacts-link-mail {
  color: var(--graphite);
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  text-align: left;
  display: flex;
  align-items: center;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0px;
}

.contacts-link-mail:hover,
.contacts-link-mail:focus {
  color: var(--nav-blue);
}
.contacts-link-phone:hover,
.contacts-link-phone:focus {
  color: var(--nav-blue);
}
/* container */
.container {
  width: 1170px;
  padding: 94px 0px;
  margin: 0px auto;
}

.btn {
  margin-left: 280px;
  margin-right: 280px;
  color: var(--main-black);
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 611px;
  align-items: center;
  margin-top: 0px;
  margin-bottom: 20px;
  padding: 0px;
}

button {
  background-color: var(--grey);
  font-size: 16px;
  font-style: normal;
  text-align: center;
  border-radius: 4px;
  border: none;
  padding: 6px 22px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
button:hover,
button:focus {
  background-color: var(--nav-blue);
  color: var(--general-white);
  cursor: pointer;
}
.card-set {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0px;
  margin: auto;
}

.cardset-thumb:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
  cursor: pointer;
}

.cardset-thumb {
  margin-top: 30px;
  border: 1px solid;
  border-color: #eeeeee;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

img {
  height: auto;
  max-width: 100%;
}

h2 {
  font-size: 18px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--main-black);
  margin: 0;
}

.name {
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--graphite);
  margin: 0;
}

/* footer */

.footer-logo {
  text-decoration: none;
  color: var(--logo);
  font-family: 'Raleway', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 31px;
  display: inline-block;
  margin-bottom: 20px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

footer {
  background-color: var(--hero-graphite);
  color: var(--general-white);
  display: flex;
}

.footer-container {
  display: flex;
  margin: 0 auto;
  width: 1170px;
  align-items: center;
  justify-content: space-between;
  padding-top: 57px;
  padding-bottom: 57px;
}

.footer-contacts {
  padding: 0px;
  margin: 0px;
  width: 231px;
  max-height: 81px;
  font-family: Roboto;
  font-size: 14px;
  letter-spacing: 0.03em;
  text-align: left;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
}

.footer-contacts-link {
  color: var(--light-white);
  text-decoration: none;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contacts-link:focus,
.footer-contacts-link:hover {
  color: var(--nav-blue);
}

.footer p {
  margin: 0;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.03em;
  text-align: left;
}

.address {
  padding-left: 0;
  margin: 0;
}

.join li {
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  width: 44px;
  height: 44px;
}

.join {
  display: block;
  width: 206px;
  height: 80px;
}
.h3-footer {
  text-transform: uppercase;
  color: var(--general-white);
  display: inline-flex;
  padding: 0;
  margin-bottom: 20px;
  margin-top: 0px;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-align: left;
}

.social-links {
  padding-left: 0;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  height: 44px;
  width: 206px;
}

.social-links svg {
  width: 22px;
  height: 22px;
  margin: auto;
  fill: var(--general-white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links li {
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-links li:hover,
.social-links li:focus {
  background-color: var(--nav-blue);
  fill: var(--general-white);
  cursor: pointer;
}

/* homework5 */

.cardset-thumb {
  position: relative;
  width: 370px;
  height: 404px;
  overflow: hidden;
}

.card-text {
  display: block;
  margin: 20px 24px;
}

.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  bottom: 110px;
  transform: translateY(101%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 0;
  padding: 173px 24px;
  background-color: var(--overlay);
  color: var(--general-white);
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
}

.cardset-thumb:hover .overlay,
.cardset-thumb:focus .overlay {
  transform: translateY(0);
  opacity: 1;
}

/* footer-form */
.form {
  display: flex;
  width: 570px;
  height: 86px;
  align-items: flex-end;
  justify-content: space-between;
}
.form-input {
  width: 358px;
  height: 50px;
  padding: 15px 295px 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(----hero-graphite);
  margin-top: 20px;
  margin-right: 12px;
}
.form-label {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: left;

  color: #ffffff;
}
.form-button {
  position: relative;
  min-width: 200px;
  height: 50px;
  padding: 10px 28px;
  background-color: var(--nav-blue);
  color: var(--general-white);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  cursor: pointer;
  border: none;
  border-radius: 4px;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
}
.svg-form {
  margin-left: 10px;
}
